html,
body {
    margin: 0;
    width: 100%;
}
.image {
    width: 150px;
    height: 150px;
    transition: 1s;
}
.navbar-customclass {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    background-color: rgb(241, 228, 248);
}
.image:hover {
    width: 500px;
    height: 500px;
}
.table {
    font-size: large;
    font-weight: bolder;
    margin: auto;
    width: 70%;
}
td {
    text-align: center;
    color: rgb(226, 152, 15);
    font-family: "Shadows Into Light", cursive;
}
th {
    text-align: center;
    color: rgb(31, 182, 132);
    font-family: "Shadows Into Light", cursive;
}
body {
    margin: 0;
    width: 100%;

    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
